<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mikey's Barbers - Star & Celebrities Touch</title>
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <nav>
      <div class='contact'>
        <a class='no-select' href="tel:+447956287651">contact</a>
      </div>
      <div class='name'>
        <h1><span style='font-size:larger;'>M</span>ikey's <span style='font-size:larger;'>B</span>arber <span style='font-size:smaller;'><br class='break' />and<br class='break' /></span> <span style='font-size:larger;'>H</span>air <span style='font-size:larger;'>S</span>alon</h1>
      </div>
      <div class='location'>
        <a class='no-select' target="_blank" href="https://www.google.com/maps/place/108B+Lower+Clapton+Rd,+London+E5+0QR/@51.553571,-0.0553581,17z/data=!3m1!4b1!4m5!3m4!1s0x48761cf931eeab23:0x796a756a8192d251!8m2!3d51.5535677!4d-0.0531694">location</a>
      </div>
    </nav>
  </header>

  <div class='pictures'>
    <section class='picture-wrapper'>
      <div class='picture'>1</div>
      <div class='picture'>2</div>
      <div class='picture'>3</div>
      <div class='picture'>4</div>
      <div class='picture'>5</div>
      <div class='picture'>6</div>
      <div class='picture'>7</div>
      <div class='picture'>8</div>
      <div class='picture'>9</div>
    </section>
  </div>

  <footer>
    <p>&copy; MIKEYS BARBER 2019</p>
  </footer>
  
</body>
</html>
