<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mikey's Barbers - Star & Celebrities Touch</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <nav>
      <div class='contact'>
        <p>Contact</p>
        <a href="tel:+447956287651">On The Phone</a>
      </div>
      <div class='name'>
        <h1>Mikey's barber and hair salon</h1>
      </div>
      <div class='location'>
        <p>Location</p>
        <a target="_blank" href="https://www.google.com/maps/place/108B+Lower+Clapton+Rd,+London+E5+0QR/@51.553571,-0.0553581,17z/data=!3m1!4b1!4m5!3m4!1s0x48761cf931eeab23:0x796a756a8192d251!8m2!3d51.5535677!4d-0.0531694">On Google Maps</a>
      </div>
    </nav>
  </header>
  
</body>
</html>
