/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: medium;
  color: white;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.5rem;
  background: linear-gradient(260deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 100%),
              linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,100,0.2) 50%, rgba(0,0,0,0.2) 100%),
              linear-gradient(90deg, rgba(25,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%);
}

a {
  color:white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-shadow: 2px 2px rgba(255,0,0,0.7), -2px -2px rgba(0,0,255, 0.7);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


h1 {
  font-weight: 100;
  text-shadow: 2px 2px #ff0000, -2px -2px#0000ff;
  letter-spacing: 0.005em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Monoton', cursive;
}

nav div {
  padding: 10px;  
}

.name,
.contact,
.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.name {
  font-size: xx-large;
}

.contact {
  margin-left: 10px;
  position: relative;
  z-index: 2;
}

.contact a:hover {
  color: rgba(255,255,255,0.9);
}

.location {
  margin-right: 10px;
  position: relative;
  z-index: 2;
}

.location a:hover {
  color: rgba(255,255,255,0.9);
}

.break {
  display: none;
}

.pictures {
  position: absolute;
  top: 0;
}

.picture-wrapper {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}

.picture {
  background-color: rgba(255, 255, 255, 0.2);
  width: calc(33.33% - 20px);
  margin: 10px;
  flex: 1 1 auto;
  opacity: 0.5;
}

.picture:hover {
  opacity: 1;
}


footer {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer p {
  display: flex;
  justify-content: center;
  font-size: x-small;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}


@media all and (max-width:1212px) {
  
  nav {
    justify-content: center;
  }

  .name {
    flex: 1 1 100%;
    order: 1;
    align-self: center;
  }
  
  .contact {
    flex: 1 1 auto;
    order: 2;
    margin-left: 0;
  }
  
  .location {
    flex: 1 1 auto;
    order: 3;
    margin-right: 0;
  }

}

@media all and (max-width:500px) {

  header {
    height: 100vh;
    justify-content: flex-start;
  }


  nav {
    align-content: flex-start;
    height: auto;
  }

  
  .name {
    order: 1;
    animation-name: pulse;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    line-height: 2rem;
  }
  
  .contact {
    order: 2;
    flex-basis: 100%;
  }
  
  .location {
    order: 3;
    flex-basis: 100%;
  }


  .break {
    display: block;
  }
  
  
  .pictures {
    position: relative;
    top: 0px;
  }

  .picture {
    background-color: rgba(255, 255, 255, 0.2);
    width: calc(100% - 20px);
    margin: 10px;
    flex-direction: column;
    height: 200px;
    flex: 1 1 auto;
  }

  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1); }
    50% {
      -webkit-transform: scale(1.003);
              transform: scale(1.003); }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1); } }

}